In [8]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# 1. Data Exploration

In [9]:
metadata = pd.read_csv('metadata.csv')
metadata.head()

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,Clearsky DHI Units,Clearsky DNI Units,Clearsky GHI Units,Dew Point Units,DHI Units,DNI Units,GHI Units,Solar Zenith Angle Units,Temperature Units,Pressure Units,Relative Humidity Units,Precipitable Water Units,Wind Direction Units,Wind Speed Units,Cloud Type -15,Cloud Type 0,Cloud Type 1,Cloud Type 2,Cloud Type 3,Cloud Type 4,Cloud Type 5,Cloud Type 6,Cloud Type 7,Cloud Type 8,Cloud Type 9,Cloud Type 10,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,95435,-,-,-,35.25,-119.26,-8,100,-8,w/m2,w/m2,w/m2,c,w/m2,w/m2,w/m2,Degree,c,mbar,%,cm,Degrees,m/s,NaN,Clear,Probably Clear,Fog,Water,Super-Cooled Water,Mixed,Opaque Ice,Cirrus,Overlapping,Overshooting,Unknown,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.1.0

In [12]:
dataset = pd.read_csv('dataset.csv')
dataset.drop(columns=['Year.1', 'Month.1', 'Day.1', 'Hour.1','Minute'])
dataset.describe()

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Solar Zenith Angle,Temperature,Pressure,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm),Year.1,Month.1,Day.1,Hour.1,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL,RENEWABLES,NUCLEAR,THERMAL,IMPORTS,HYDRO
count,22656.000000,22656.000000,22656.000000,22656.000000,22656.0,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.00000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22656.000000,22654.000000,22531.000000,21527.000000,17725.000000,10262.000000,2968.000000
mean,2019.159958,7.087924,15.736229,11.500000,30.0,56.570136,293.975503,234.701757,50.388286,342.481859,253.227136,1.302745,59.493448,355.826920,478.174656,672.11631,661.721279,315.585320,177.027410,368.869306,459.728902,449.172890,679.091896,1354.668212,2060.049082,2626.291005,3451.105094,4470.195639,5333.924726,5576.100618,4947.186742,3535.526213,2349.402965
std,0.766673,3.343056,8.803562,6.922339,0.0,73.622126,360.604632,318.080541,60.599051,379.235722,328.727382,2.564468,51.938805,557.553799,766.427607,944.22190,937.681133,686.840007,336.199417,397.155534,362.297598,602.877269,1301.888010,2199.068159,3010.713140,3720.009517,4158.633267,4107.809642,3912.868665,3650.643389,3259.122742,2412.300620,1144.421207
min,2018.000000,1.000000,1.000000,0.000000,30.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,-389.000000,0.000000,0.000000,-31.000000,-67.000000,-74.000000,-1756.000000,-2407.000000,-2674.000000,-2731.000000,-1719.000000,-88.000000
25%,2019.000000,4.000000,8.000000,5.750000,30.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,6.000000,7.000000,8.000000,14.000000,221.000000,221.000000,214.000000,210.000000,12.000000,0.000000,1.000000,2077.250000,2263.000000,2276.000000,2316.000000,1734.250000,1423.250000
50%,2019.000000,7.000000,16.000000,11.500000,30.0,9.000000,3.000000,9.000000,11.000000,55.500000,11.500000,0.000000,58.810000,23.743950,15.273750,13.00000,12.000000,12.000000,15.000000,234.000000,336.000000,296.000000,258.000000,363.000000,528.000000,498.000000,2251.000000,2284.000000,4170.000000,5102.000000,4191.000000,2838.000000,2251.000000
75%,2020.000000,10.000000,23.000000,17.250000,30.0,104.000000,675.000000,464.000000,99.000000,769.000000,506.000000,0.000000,104.370000,999.000000,1001.000000,2019.00000,2018.000000,25.000000,28.000000,881.000000,878.000000,386.000000,413.000000,1605.250000,2882.000000,3995.250000,5307.250000,6678.750000,7934.000000,8021.000000,7395.000000,4559.750000,3228.000000
max,2020.000000,12.000000,31.000000,23.000000,30.0,476.000000,992.000000,1057.000000,398.000000,992.000000,1058.000000,9.000000,167.100000,2020.000000,2020.000000,2020.00000,2020.000000,2020.000000,1061.000000,2510.000000,5081.000000,11172.000000,11478.000000,17347.000000,17474.000000,18758.000000,25518.000000,25534.000000,26017.000000,25417.000000,24843.000000,11374.000000,5654.000000